<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../static/css/plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../static/css/styles/common.css" />
  <link rel="stylesheet" href="../../static/css/styles/page.css" />
</head>
<body>
   <div class="dashboard-container" id="food-app">
    <div class="container">
      <div class="tableBar">
        <!--检索框-->
        <!--
          双向绑定输入框数据
          输入框占位符
          输入框宽度
          可以清楚输入内容
          按下回车调用查询方式
        -->
        <el-input
          v-model="input"
          placeholder="请输入中药名称"
          style="width: 250px"
          clearable
          @keyup.enter.native="handleQuery"
        >
        <!--
          输入框前缀图标插槽
          点击图标时调用初始化方式
        -->
          <i
            slot="prefix"
            class="el-input__icon el-icon-search"
            style="cursor: pointer"
            
            @click="init"
          ></i>
        </el-input>

        <!--右上角点击事件-->
        <div class="tableLab">
          <span class="span-btn delBut non" @click="deleteHandle('批量', null)">批量删除</span>
          <span class="span-btn blueBug non" @click="statusHandle('0')">批量启售</span>
          <span style="border:none;" class="span-btn delBut non" @click="statusHandle('1')">批量停售</span>
          <el-button
            type="primary"
            @click="addFoodtype('add')"
          > 
            + 新建中药
          </el-button>
        </div>


      </div>

      <!--
        表格数据
        选择项变化时的回调函数
      -->
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
        @selection-change="handleSelectionChange"
      >
      <!--选择列-->
        <el-table-column
          type="selection"
          width="25"
        ></el-table-column>
      <!--数据属性名以及列标题-->
        <el-table-column
          prop="name"
          label="中药名称"
        ></el-table-column>


        <el-table-column prop="mainimage" label="图片" align="center">
          <!--自定义列模板，使用作用域插槽-->
          <template slot-scope="{ row }">
            <!--
              动态获取图片地址
              图片预览列表
            -->
            <el-image style="width: auto; height: 40px; border:none;cursor: pointer;" 
            :src="getImage(row.image)" 
            >

            <div slot="error" class="image-slot"><!--图片加载失败的显示内容-->
              <img src="../../static/img/noImg.png"  style="width: auto; height: 40px; border:none;" >
            </div>  
          </el-image>
          </template>
        </el-table-column>
        
        <el-table-column
          prop="cateid"
          label="分类"
        ></el-table-column>


        <el-table-column label="药材规格">
            <template slot-scope="scope">
              <el-select v-model="scope.row.selectedSpec" placeholder="请选择规格" @change="handleSpecChange(scope.row)">
                <el-option
                  v-for="spec in scope.row.specification"
                  :key="spec.id"
                  :label="spec.specification"
                  :value="spec">
                </el-option>
              </el-select>
            </template>
          </el-table-column>

          <el-table-column label="售价">
            <template slot-scope="scope">
              <span style="margin-right: 10px;">￥{{ scope.row.selectedSpec ? scope.row.selectedSpec.price  : '请选择规格' }}</span>
            </template>
          </el-table-column>
        
          <el-table-column label="实际售价">
            <template slot-scope="scope">
              <span style="margin-right: 10px;">￥{{ scope.row.selectedSpec ? scope.row.selectedSpec.saleprice  : '请选择规格' }}</span>
            </template>
          </el-table-column>

          <el-table-column label="库存">
            <template slot-scope="scope">
              <span style="margin-right: 10px;">￥{{ scope.row.selectedSpec ? scope.row.selectedSpec.stock  : '请选择规格' }}</span>
            </template>
          </el-table-column>

          <el-table-column label="售卖状态">
            <template slot-scope="scope">
              <span>{{ scope.row.selectedSpec ? (scope.row.selectedSpec.status == '0' ? '停售' : '启售') : '请选择规格' }}</span>
            </template>
          </el-table-column>

        

        <el-table-column
          label="操作"
          width="160"
          align="center"
        >
          <template slot-scope="scope"><!--自定义列模板-->
            <el-button
              type="text"
              size="small"
              class="blueBug"
              @click="addFoodtype(scope.row.id)"
            >
              修改
            </el-button>

            

            <el-button
              type="text"
              size="small"
              class="delBut non"
              @click="deleteHandle('单删', scope.row.id)"
            >
              删除
            </el-button>

          </template>

        </el-table-column>
      </el-table>

      <!--
         :page-sizes="[10, 20, 30, 40]" 可选的每页条数 
         :page-size="pageSize" 当前每页条数 
         layout="total, sizes, prev, pager, next, jumper"  分页组件布局 
         :total="counts" 总条目数 
         @size-change="handleSizeChange"  每页条数变化时的回调 
         :current-page.sync="page"  当前页码
         @current-change="handleCurrentChange"  页码变化时的回调 
      -->
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        @size-change="handleSizeChange"
        :current-page.sync="page"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../static/css/plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../static/css/plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../static/css/plugins/axios/axios.min.js"></script>

    <script>
      new Vue({
        el: '#food-app',
        data() {
          return {
             input: '', // 搜索框绑定的数据
             counts: 0, // 数据总数
             page: 1, // 当前页码
             pageSize: 10, // 每页显示条数
             tableData : [], // 表格数据
             dishState : '', // 菜品状态
             checkList: [] // 选中的菜品ID数组
          }
        },
        computed: {},
        created() {
          this.init() // 组件创建完成后初始化数据
        },
        mounted() {
        },
        methods: {
          async init () { // 初始化方法，加载表格数据
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              name: this.input ? this.input : undefined // 如果input为空，则不传name参数
            }
            /*
               await getDishPage(params).then(res => { // 调用API获取数据
              if (String(res.code) === '1') { // 成功获取数据
                this.tableData = res.data.records || [] // 设置表格数据
                this.counts = res.data.total // 设置数据总数
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err) // 请求错误处理
            })
            */
            axios.post('/loginpart/login', { loginForm: this.loginForm })
                .then(response => {
                    // 登录成功的处理逻辑
                console.log(response.data);
                console.log(loginForm.password);
                //
                  axios.get('/commodity/list')
                      .then(response =>{
                        console.log(response.data);
                        this.tableData=response.data;
                      })
                    })
                    .catch(error => {
                    alert("bbb")
                    // 登录失败的处理逻辑
                    this.errorMessage = '账号或密码错误';
                    
            });
          },
          getImage (image) { // 获取图片地址的方法
            return `/common/download?name=${image}`
          },
          handleQuery() { // 处理查询操作
            this.page = 1; // 重置为第一页
            this.init(); // 重新加载数据
          },
          // 添加或修改菜品
          addFoodtype (st) {
            if (st === 'add'){ // 如果是添加操作
              window.parent.menuHandle({
                id: '4',
                url: '/backend/page/food/add.html',
                name: '添加菜品'
              },true)
            } else { // 如果是修改操作
              window.parent.menuHandle({
                id: '4',
                url: '/backend/page/food/add.html?id='+st,
                name: '修改菜品'
              },true)
            }
          },

          // 批量删除操作
          deleteHandle (type, id) {
            if (type === '批量' && id === null) { // 批量删除判断
              if (this.checkList.length === 0) {
                return this.$message.error('请选择删除对象')
              }
            }
            this.$confirm('确认删除该药材, 是否继续?', '确定删除', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
            }).then(() => {
                
                axios.post('/api/deleteMedicine', {
                ids: this.checkList // 假设后端接口接受一个名为ids的参数，包含所有要删除的项的ID
                }).then(response => {
                // 根据后端返回结果进行处理，这里假设成功返回状态码为200
                if (response.status === 200) {
                    this.$message.success('删除成功');
                    this.init(); // 重新加载数据
                } else {
                    this.$message.error('删除失败');
                }
                }).catch(error => {
                this.$message.error('请求失败: ' + error);
                });
            })
            
          },

          // 状态更改操作
          statusHandle (row) {
            let params = {}
            if (typeof row === 'string' ) { // 批量操作判断
              if (this.checkList.length === 0) {
                this.$message.error('批量操作，请先勾选操作菜品！')
                return false
              }
              params.id = this.checkList.join(',')
              params.status = row
            } else { // 单个操作
              params.id = row.id
              params.status = row.status ? '0' : '1'
            }
            this.dishState = params
            this.$confirm('确认更改该菜品状态?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
                axios.post('/api/deleteMedicine', {
                ids: this.checkList // 假设后端接口接受一个名为ids的参数，包含所有要删除的项的ID
                }).then(response => {
                // 根据后端返回结果进行处理，这里假设成功返回状态码为200
                if (response.status === 200) {
                    this.$message.success('修改成功');
                    this.init(); // 重新加载数据
                } else {
                    this.$message.error('修改失败');
                }
                }).catch(error => {
                this.$message.error('请求失败: ' + error);
                });

            })
          },

          // 处理选择项变化
          handleSelectionChange (val){
            let checkArr = []
            val.forEach((n) => {
              checkArr.push(n.id) // 将选中的ID加入数组
            })
            this.checkList = checkArr // 更新选中的ID数组
          },
          handleSizeChange (val) { // 每页条数变化时的处理
            this.pageSize = val // 更新每页条数
            this.init() // 重新加载数据
          },
          handleCurrentChange (val) { // 页码变化时的处理
            this.page = val // 更新当前页码
            this.init() // 重新加载数据
          }
        }
      })
    </script>
</body>
</html>